* {
    margin: 0;
    padding: 0;
}

:root {
    --code: 50deg;
}


body {
    font-family: poppins;
    background-color: black;
}

.left {
    width: 25vw;
    height: 68vw;
    position: relative;
}

.right {
    width: 75vw;
    height: 68vw;
    position: relative;
}

.container {
    gap: 10px;
    margin: 13px 0px 8px 13px;
}

.left-top-box ul img {
    width: 13px;

}

.left-top-box ul li {
    list-style: none;
    color: white;
    display: flex;
    gap: 16px;
    margin: 10px 4px;
    font-weight: bold;
    font-size: 16px;

}

.spotify-logo img {
    width: 118px;
    margin-top: 8px;
    margin-left: 9px;
    margin-bottom: 4px;
}

.left-top-box ul {
    margin-top: 15px;
    margin-left: 7px;
}

.left-bottom-box {
    height: 82%;

}

.yourlibrary img {
    width: 30px;
}

.yourlibrary {
    color: white;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    margin: 32px 0px 0px 20px;
    gap: 12px;
}

.last-links {
    font-size: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin-left: 7px;
    grid-row-gap: -4px;
    position: absolute;
    bottom: 0;
}

.last-links a {
    color: grey;
    margin: 0px 5px;
}

#uui {
    grid-column-start: 2;
    grid-column-end: 3;
}

#uuo {
    grid-column: 5/6;
}

.header header {
    height: 85px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.angle-braces img {
    margin-top: 22px;
    margin-left: 19px;
    cursor: pointer;
}

.signup {
    background: none;
    color: gray;
    font-size: 17px;
    font-weight: bolder;
    border: none;
}

.login {
    font-size: 17px;
    padding: 10px;
    border-radius: 37px;
    margin: 0 23px;
}

.login:hover {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
    transition-duration: .8s;
}

.login:not(:hover) {
    transition: .8s;
}

.signup:hover {
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.right h1 {
    color: white;
    padding: 25px;
}

.hamburger {
    display: none;
}

.transition {
    position: absolute;
    left: 0px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    z-index: 1;
}

.bg-color-left {
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 100vh;
}

.close {
    display: none;
}

.card {
    width: 220px;
    height: 250px;
    background-color: #222222;
    border-radius: 8px;
}

.card p {
    color: white;
    font-size: 10px;
    padding-left: 3px;
    padding-right: 3px;
}

.card img {
    width: 200px;
    margin: 10px;
    object-fit: cover;
    border-radius: 6px;
    height: 130px;

}

.card h3 {
    color: white;
    padding-left: 8px;
}

.cardcontainer {
    flex-wrap: wrap;
    gap: 30px;
    display: flex;
    max-height: 52vh;
    overflow: auto;
    width: 80%;
    margin: auto;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 10px;
    /* Vertical scrollbar */
    height: 10px;
    /* Horizontal scrollbar */
}

/* Track (background) */
::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 5px;

}

/* Handle (scroll indicator) */
::-webkit-scrollbar-thumb {
    background: #242323;
    border-radius: 5px;
    scrollbar-width: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.play-bar {
    background-image: linear-gradient(50deg, black, yellow, rgb(0, 0, 0));
    background-size: 200%;
    background-position: left;
    position: absolute;
    width: 72vw;
    bottom: 18px;
    height: 12vh;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.play-bar:hover {
    background-position: right;
    transition: all .8s ease-in-out;
}

.play-bar:not(:hover) {
    background-position: left;
    transition: all 0.8s ease-in-out;
}

.songbtns {
    display: flex;
    gap: 24px;
}

.play-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.songs-playlists ul li {
    list-style-position: inside;
    border: 1px solid white;
    min-height: 12%;
    width: 97%;
    font-size: 11px;
    display: flex;
    align-items: center;
    padding-left:4px ;
    border-radius: 5px;
    gap: 30px;
    cursor: pointer;
}

.songs-playlists ul {
  color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
        align-items: center;
    gap: 10px;
    padding: 8px 4px;
    overflow-y: auto; 

}

.songs-playlists {
    position: relative;
    left: 16px;
    top: 20px;
    height: 70%;
    width: 90%;
    border-radius: 6px;
   overflow: auto;
   
}
.songs-playlists::-webkit-scrollbar {
    display: none
}
.playnow{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 140px;
    font-size: 9px;
}
.songinfor{
    width: 150px;
    font-size: 11px;
}
.seekbar{
    width: 90%;
    height: 3px;
    border-radius: 13px;
   background-color: rgb(15, 15, 15);
    position: absolute;
    bottom: 8px;
    cursor: pointer;
}
.circle{
    width: 12px;
    height: 12px;
    border-radius: 30px;
    background-color:crimson ;
    position: relative;
    bottom: 5px;
    left: 0px;
    transition: left 500ms;
    cursor: pointer;
}
.songbtns img{
    cursor: pointer;
}
.song-info,.songtime{
    width: auto;
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 5px;
    font-size: 13px;
}











@media screen and (max-width:1200px) {
    * {
        margin: 0px;
        padding: 0;
    }

    .cardcontainer {
        flex-wrap: wrap;
        gap: 30px;
        display: flex;
        height: 40vh;
        overflow: auto;
        width: 80vw;
        margin: auto;
    }

    .last-links {
        position: absolute;
        bottom: 0px;
        font-size: 9px;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;

        grid-row-gap: -4px;
    }

    .right {
        width: 100vw;
        height: 65vh;
        margin: 0;
        padding: 0;
        position: static;

    }

    body {
        height: 100vh;
        position: relative;
    }

    .position {
        position: absolute;
        left: -600px;
        transition-duration: 1s;
        transition-property: all;
        z-index: 1;
        transition-timing-function: ease-out;
    }

    .le-bo-he {
        min-height: 100%;
        min-width: 20vw;
    }

    .hamburger {
        display: inline-block;
    }

    .hamburger img {
        width: 30px;
    }

    .container {
        margin: 0;
        padding: 0;
    }

    .close {
        display: inline-block;
        position: relative;
        left: 257px;
    }

    .play-bar {
        position: absolute;
        width: 89vw;
        bottom: 18px;
        height: 12vh;
        border-radius: 25px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .songbtns {
        display: flex;
        gap: 12px;
    }

}

@media screen and (max-width:500px) {
    .right {
        width: 100vw;
        height: 60vh;
    }

    .cardcontainer {
        height: 35vh;
        width: 70%;
    }

    .right h1 {
        color: white;
        padding: 25px;
        font-size: 16px;
    }

    .le-bo-he {
        min-height: 100%;
        min-width: 20vw;
    }

    .last-links {
        position: fixed;
        bottom: 0px;
        font-size: 9px;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;

        grid-row-gap: -4px;
    }
    .song-info,.songtime{
        width: auto;
        background-color: black;
        color: white;
        padding: 4px;
        border-radius: 5px;
        font-size: 9px;
    }
    
}

@media screen and (min-width:2000px) {
    .left {
        width: 20vw;
        height: 68vw;

    }

    .right {
        width: 80vw;
        height: 68vw;
    }

    .play-bar {
        height: 7vw;
    }

}

@media screen and (min-width:2420px) {
    .left {
        width: 17vw;
        height: 68vw;

    }

    .right {
        width: 83vw;
        height: 68vw;
    }

    .play-bar {
        height: 7vw;
    }
}

@media screen and (min-width:2642px) {
    .left {
        width: 15vw;
        height: 68vw;

    }

    .right {
        width: 85vw;
        height: 68vw;
    }

    .play-bar {
        height: 7vw;
    }
}